<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">

    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
          Tooltip on top
        </button>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= render 'shared/nav'%>

        <%= yield %>
      </div>
    </div>

  </body>
</html>
